@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#E4D99E;
    font-family:"Roboto Condensed21382017",sans-serif;
    height: 200vh;
}
.left .tag{
    position: absolute;
    width: 273px;
    height: 620px;
    left: 37px;
    top: 78px;

    background: #BF764C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    
}
.ImgProfile{
    position: absolute;
    width: 104px;
    height: 104px;
    left: 121px;
    top: 84px;
    border-radius: 100%;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    position: absolute;
    width: 224px;
    height: 37px;
    left: 70px;
    top: 195px;

    text-align: center;
    font-style: normal;
    font-weight: bold;
    /* font-size: 36px; */
    display: flex;
    color: #FFFFFF;
}
.Followers {
    position: absolute;
    width: 53px;
    height: 24px;
    left: 100px;
    top: 260px;

    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    
    display: flex;

    color: #FFFFFF;
}
.count{
    position: absolute;
    width: 76px;
    height: 18px;
    left: 150px;
    top: 255px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    
    display: flex;

    color: #FFFFFF;
}
.feed{
    position: absolute;
    width: 32px;
    height: 33px;
    left: 72px;
    top: 317px;
   
}
.user{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 72px;
    top: 378px; 
}
.chat{
    position: absolute;
    width: 32px;
    height: 33px;
    left: 72px;
    top: 442px;
}
a:link{
    text-decoration: none;
    
}
a{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;

    color: #ffffffd2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a:hover{
    color: #ffffff;
}
.home{
    position: absolute;
    left: 126px;
    top: 322px;
}
.my{
    position: absolute;
    left: 126px;
    top: 382px;

}
.chatt{
    position: absolute;
    left: 126px;
    top: 447px;

}
.line{
    position: absolute;
    width: 272.92px;
    height: 0px;
    left: 36px;
    top: 292.39px;
    border:0.5px solid rgba(234, 223, 207, 0.7);
}
.BTPost{
    position: absolute;
    width: 194px;
    height: 76px;
    left: 77px;
    top: 520px;

    background: #E0A538;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #c57b26;
    

}
.BTPost_editIMG {
    position: absolute;
    width: 29px;
    height: 30px;
    left: 110px;
    top: 539px;
}
.BTPost:hover{
    background: #e09e23;
}
.fix{
    position: fixed;
}
.SocialBox{
    position: absolute;
    width: 1000px;
    height: 200px;
    left: 370px;
    top: 60px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.imgUser{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 75px;
}
.NameUser{
    position: absolute;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;

    left: 480px;
    top: 90px;
}
.heart{
    background: none;
    border: none;
    background-image: url(./Images/Feed/heart\ 1.png);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 800px;
    top: 225px;
}
.comment{
    border: none;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    width: 109px;
    height: 28px;
    left: 850px;
    top: 220px;
    font-family: Roboto Condensed21382017;


}
