@font-face {
  font-family: "Roboto";
  src: url(/NewPetS/PetSociety/font/RobotoCondensed-Regular.ttf)
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #456252;
  background: 100vh;
  background-color: #e4d99e;
}

.Box1 {
  margin-top: 100px;
}
.navbar {
  box-shadow: 1px 1px 5px black;
  background-color: #e4d99e;
  /* opacity: 90%;
  width: 100%;
  height: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: 7%; */
}
/* .logo {
  width: 50px;
  cursor: pointer;
} */
/* nav {
  flex: 1;
  padding-left: 500px;
  padding-top: 20px;
} */
/* nav ul li {
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  list-style: none;
  margin: 0px 30px;
} */
/* nav ul li a {
  text-decoration: none;
  color: #333;
} */

.BTlogin{
  border: none;
  background: none;

  width: 87px;
  height: 39px;

  border: 3px solid #bf764c;
  box-sizing: border-box;
  border-radius: 20px;
}
.BTlogin:hover {
  background: #bf764c;
}
.BTsignup{
  border: none;
  width: 87px;
  height: 39px;

  background: rgba(191, 118, 76, 0.56);
  border: 3px solid #bf764c;
  box-sizing: border-box;
  border-radius: 20px;
}
.BTsignup:hover {
  background-color: #bf764c;
}
.BTSIGNup{
  border: none;
  /* position: absolute; */
  width: 200px;
  height: 60px;
  left: 171px;
  top: 556px;

  background: #bf764c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.BTSIGNup:hover {
  background: #be6e40;
  width: 210px;
  height: 70px;
}
.BTSIGNup{
  color: #456252;
  font-style: normal;
  font-weight: bold;
  font-size: 20pt;
  left: 20%;
  top: 70%;
}

/* #Society {
  width: 90%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 10%;
  padding-bottom: 10%;
} */

#Story{
  padding-top: 30%;
  text-align: center;
}

#Contact {
  padding-top: 20%;
  text-align: center;
}

#Contact {
  padding-top: 20%;
  text-align: center;
}
#pic1 {
  width: 100%;
  mix-blend-mode: darken;
}
#pic4 {
  width: 150%;
  margin-left: -15%;
}

/* #pic1, #pic4{
  text-align: center;
  width: 100%;
} */

#pic5 {
  text-align: center;
  width: 50%;
  border-radius: 5%;
  color: #bf764c;
  border: solid 5px #bf764c;
}

h1 {
  font-weight: bolder;
  font-size: 40pt;
}

#StoryDetail,#SocietyDetail {
  font-size: 15pt;
}

#ContactDetail {
  font-size: 10pt;
}

#SpanOrange {
  color: #bf764c;
  font-weight: bold;
}

#MapContact {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#Location {
  font-weight: bolder;
  font-size: 20pt;
  text-align: center;
}

#ContactDetail {
  font-weight: normal;
  font-size: 15pt;
  text-align: center;
}

#line {
  margin-left: 25%;
}

#MediaIconFB,
#MediaIconYT,
#MediaIconTW {
  padding-left: 22%;
}

.footer-1 {
  background-color: #bf764c;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: black;
}
a:visited {
  color: #456252;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}