@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  color: #456252;
  background: #e4d99e;
}

.head {
  /* display: block; */
  font-size: 50pt;
  text-align: center;
  font-weight: bolder;
  position: relative;  
  /* margin: auto; */
  z-index: 200;
}

img{
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
  z-index: 100;
}

.ProfilePic{
  width: 20%;
}

.Name{
  text-align: center;
}

#PetDetail{
  background-color: #BF764C;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

#UserDetail{
  text-align: left;
  background-color: #BF764C;
  padding: 5%;
  padding-top: 10%;
}

.PetPic1{
  width: 80%;
}

.PetPic2{
  width: 80%;
}

.PetPic3{
  width: 80%;
}

.icon{
  width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#H_Username{
  background-color: #DECDB4;
}

#P_Username{
  background-color: #EADFCF;
}

hr{
  border: #BF764C solid;
}